.benefits {
  display: flex;
  margin-top: 70px;

  
}

.benefits__item {
  flex: 1;
  padding: 0 3%;

  &:before {
    content: url("/img/separator.png");
    position: absolute;
    top: 55px;
    right: 0;
    transform: translatex(50%);
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-left: 0;
    padding-right: 0;
    &:before {
      display: none;
    }
  }
}