.cost {
  &__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: rem(24px);
  }

  &__value {
    font-size: rem(60px);
    text-transform: uppercase;
    color: #151515;
    font-weight: 300;
    line-height: rem(60px);
  }

  &__cost {
    margin-right: rem(13px);
  }
}
