.features {
  display: flex;
  margin-right: rem(45px);

  &:last-child {
    margin-right: 0;
  }
}

.features__item {
  margin-right: rem(46px);

  &:last-child {
    margin-right: 0;
  }
}