.section {
  height: 100%;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  &--font-color--green {
    color: $darkGreen;

    .section__title {
      color: inherit;
    }
  }
}

.section__title {
  font-size: rem(48px);
  font-weight: bold;
  margin-bottom: rem(60px);
  text-align: center;
  text-transform: uppercase;
  color: black;
}

.order-section {
background: url("/img/rspbry.png");

  &:after {
    position: relative;
    content: url("/img/blueberry.png");
    left: 7%;
  }

  &:before {
    content: url("/img/leaf-section.png");
    position: absolute;
    top: 762vh;
    right: 2%;
  }
}